코드 정리는 아직 못해서 지저분할 수 있습니다..!

## 0. 데이터 불러오기

### 0.1. 기본 설정

In [1]:
from typing import Union, Tuple, List

import os
import pandas as pd
import seaborn as sns
import scipy
import numpy as np
import random
from matplotlib import pyplot as plt


%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
from scipy import sparse
import bottleneck as bn
from sklearn.decomposition import PCA
import torch

In [3]:
from implicit.evaluation import  *
from implicit.als import AlternatingLeastSquares as ALS

In [4]:
raw_data=  pd.read_csv('./data/train/train_ratings.csv')
DATA_DIR= './data/train'

### 0.2. random seed 고정

In [5]:
seed = 0

random.seed(seed)
np.random.seed(seed)

## 1. train, val, test set만들기

In [6]:
#훈련된 모델을 이용해 검증할 데이터를 분리하는 함수입니다.
#100개의 액션이 있다면, 그중에 test_prop 비율 만큼을 비워두고, 그것을 모델이 예측할 수 있는지를
#확인하기 위함입니다.
def split_train_test_proportion(data, test_prop=0.2): #원래 0.2
    data_grouped_by_user = data.groupby('user')
    tr_list, te_list = list(), list()

    np.random.seed(98765)
    
    for _, group in data_grouped_by_user:
        n_items_u = len(group)
        
        if n_items_u >= 5:
            idx = np.zeros(n_items_u, dtype='bool')
            idx[np.random.choice(n_items_u, size=int(test_prop * n_items_u), replace=False).astype('int64')] = True

            tr_list.append(group[np.logical_not(idx)])
            te_list.append(group[idx])
        
        else:
            tr_list.append(group)
    
    data_tr = pd.concat(tr_list)
    data_te = pd.concat(te_list)

    return data_tr, data_te

def numerize(tp, profile2id, show2id):
    uid = tp['user'].apply(lambda x: profile2id[x])
    sid = tp['item'].apply(lambda x: show2id[x])
    return pd.DataFrame(data={'uid': uid, 'sid': sid}, columns=['uid', 'sid'])

In [7]:
# Shuffle User Indices
unique_uid = raw_data.user.unique()
print("(BEFORE) unique_uid:",unique_uid)
np.random.seed(98765)
idx_perm = np.random.permutation(unique_uid.size)
unique_uid = unique_uid[idx_perm]
print("(AFTER) unique_uid:",unique_uid)

n_users = unique_uid.size #31360
n_heldout_users = 3136#3000


# Split Train/Validation/Test User Indices
tr_users = unique_uid[:]
vd_users = unique_uid[(n_users - n_heldout_users * 2): (n_users - n_heldout_users)]
te_users = unique_uid[(n_users - n_heldout_users):]

#주의: 데이터의 수가 아닌 사용자의 수입니다!
print("훈련 데이터에 사용될 사용자 수:", len(tr_users))
print("검증 데이터에 사용될 사용자 수:", len(vd_users))
print("테스트 데이터에 사용될 사용자 수:", len(te_users))

(BEFORE) unique_uid: [    11     14     18 ... 138486 138492 138493]
(AFTER) unique_uid: [27968 67764  2581 ... 41891 15720 17029]
훈련 데이터에 사용될 사용자 수: 31360
검증 데이터에 사용될 사용자 수: 3136
테스트 데이터에 사용될 사용자 수: 3136

In [8]:
##아이템 ID
unique_sid = pd.unique(raw_data['item'])

show2id = dict((sid, i) for (i, sid) in enumerate(unique_sid))

profile2id = dict((pid, i) for (i, pid) in enumerate(unique_uid))

pro_dir = os.path.join(DATA_DIR, 'pro_sg')

if not os.path.exists(pro_dir):
    os.makedirs(pro_dir)

with open(os.path.join(pro_dir, 'unique_sid.txt'), 'w') as f:
    for sid in unique_sid:
        f.write('%s\n' % sid)

In [286]:
import pickle
with open('show2id.pkl','wb') as f:
    pickle.dump(show2id,f)
with open('profile2id.pkl','wb') as f:
    pickle.dump(profile2id,f)

In [285]:
show2id

{4643: 0,
 170: 1,
 531: 2,
 616: 3,
 2140: 4,
 2722: 5,
 2313: 6,
 2688: 7,
 2428: 8,
 3113: 9,
 1591: 10,
 2600: 11,
 8169: 12,
 2572: 13,
 58293: 14,
 7541: 15,
 1367: 16,
 32: 17,
 4792: 18,
 7444: 19,
 53953: 20,
 56949: 21,
 6502: 22,
 53000: 23,
 51662: 24,
 5151: 25,
 35836: 26,
 7293: 27,
 33585: 28,
 8810: 29,
 56801: 30,
 5377: 31,
 344: 32,
 19: 33,
 410: 34,
 2124: 35,
 828: 36,
 1274: 37,
 8977: 38,
 1032: 39,
 1214: 40,
 1200: 41,
 1320: 42,
 3897: 43,
 7173: 44,
 1225: 45,
 2858: 46,
 59418: 47,
 45361: 48,
 2706: 49,
 1321: 50,
 2793: 51,
 33085: 52,
 4235: 53,
 3892: 54,
 4340: 55,
 27660: 56,
 43556: 57,
 47124: 58,
 2294: 59,
 48304: 60,
 150: 61,
 31184: 62,
 34338: 63,
 1917: 64,
 50162: 65,
 2827: 66,
 27368: 67,
 4366: 68,
 2153: 69,
 30812: 70,
 3525: 71,
 1270: 72,
 2011: 73,
 2012: 74,
 8973: 75,
 1255: 76,
 2018: 77,
 541: 78,
 4878: 79,
 7361: 80,
 31658: 81,
 2571: 82,
 7099: 83,
 260: 84,
 1196: 85,
 60069: 86,
 160: 87,
 1882: 88,
 60037: 89,
 880: 90,
 36509: 91,
 405: 92,
 3826: 93,
 4133: 94,
 673: 95,
 6541: 96,
 611: 97,
 172: 98,
 4638: 99,
 5171: 100,
 208: 101,
 4887: 102,
 5459: 103,
 60760: 104,
 8361: 105,
 60514: 106,
 1544: 107,
 1876: 108,
 442: 109,
 32213: 110,
 5219: 111,
 1690: 112,
 2717: 113,
 27608: 114,
 52722: 115,
 780: 116,
 6934: 117,
 52287: 118,
 3745: 119,
 45499: 120,
 37830: 121,
 60040: 122,
 34319: 123,
 8644: 124,
 6365: 125,
 34048: 126,
 316: 127,
 3300: 128,
 7022: 129,
 7254: 130,
 57368: 131,
 1584: 132,
 2232: 133,
 1748: 134,
 1253: 135,
 49278: 136,
 42718: 137,
 1097: 138,
 7481: 139,
 5903: 140,
 1653: 141,
 741: 142,
 27728: 143,
 2716: 144,
 52281: 145,
 57640: 146,
 2761: 147,
 59315: 148,
 480: 149,
 3702: 150,
 1580: 151,
 5445: 152,
 52885: 153,
 3527: 154,
 44849: 155,
 27904: 156,
 5349: 157,
 8636: 158,
 589: 159,
 1240: 160,
 2916: 161,
 3793: 162,
 6333: 163,
 3054: 164,
 546: 165,
 256: 166,
 173: 167,
 2642: 168,
 7846: 169,
 8870: 170,
 54771: 171,
 7845: 172,
 34150: 173,
 51412: 174,
 3697: 175,
 6534: 176,
 7163: 177,
 5463: 178,
 3438: 179,
 3269: 180,
 8371: 181,
 5046: 182,
 6537: 183,
 4446: 184,
 8865: 185,
 5378: 186,
 32031: 187,
 3704: 188,
 4533: 189,
 6659: 190,
 2134: 191,
 1676: 192,
 2105: 193,
 5502: 194,
 3033: 195,
 592: 196,
 56174: 197,
 318: 198,
 60832: 199,
 4993: 200,
 3114: 201,
 1136: 202,
 1073: 203,
 648: 204,
 110: 205,
 8622: 206,
 6874: 207,
 6863: 208,
 6539: 209,
 6377: 210,
 5816: 211,
 5669: 212,
 5618: 213,
 5299: 214,
 3863: 215,
 3752: 216,
 2355: 217,
 2291: 218,
 1339: 219,
 1029: 220,
 1028: 221,
 784: 222,
 610: 223,
 551: 224,
 158: 225,
 54001: 226,
 50872: 227,
 48394: 228,
 45722: 229,
 33679: 230,
 31878: 231,
 30793: 232,
 6953: 233,
 6503: 234,
 6281: 235,
 5782: 236,
 5400: 237,
 5266: 238,
 4388: 239,
 4299: 240,
 4054: 241,
 3988: 242,
 3980: 243,
 3969: 244,
 3247: 245,
 2840: 246,
 2720: 247,
 2004: 248,
 761: 249,
 56757: 250,
 41571: 251,
 36401: 252,
 8965: 253,
 8907: 254,
 8640: 255,
 7439: 256,
 6996: 257,
 5283: 258,
 4974: 259,
 2959: 260,
 2240: 261,
 2042: 262,
 2028: 263,
 296: 264,
 356: 265,
 593: 266,
 1: 267,
 1210: 268,
 608: 269,
 377: 270,
 1198: 271,
 165: 272,
 595: 273,
 153: 274,
 364: 275,
 597: 276,
 231: 277,
 500: 278,
 367: 279,
 1721: 280,
 587: 281,
 1197: 282,
 2628: 283,
 253: 284,
 1291: 285,
 3578: 286,
 1036: 287,
 185: 288,
 4306: 289,
 586: 290,
 39: 291,
 5952: 292,
 2396: 293,
 1961: 294,
 1527: 295,
 1387: 296,
 8368: 297,
 6378: 298,
 6016: 299,
 4896: 300,
 3000: 301,
 2810: 302,
 3159: 303,
 7458: 304,
 5152: 305,
 33493: 306,
 41566: 307,
 4973: 308,
 33794: 309,
 4995: 310,
 33660: 311,
 33166: 312,
 58559: 313,
 62265: 314,
 27441: 315,
 67295: 316,
 653: 317,
 55999: 318,
 63859: 319,
 3753: 320,
 8972: 321,
 53125: 322,
 3083: 323,
 5225: 324,
 1046: 325,
 64034: 326,
 53996: 327,
 43932: 328,
 26887: 329,
 66171: 330,
 68319: 331,
 51698: 332,
 5444: 333,
 6731: 334,
 2455: 335,
 56145: 336,
 968: 337,
 54995: 338,
 52328: 339,
 3994: 340,
 44191: 341,
 6979: 342,
 60684: 343,
 6250: 344,
 44731: 345,
 64497: 346,
 3864: 347,
 6294: 348,
 64997: 349,
 67197: 350,
 69526: 351,
 5882: 352,
 31660: 353,
 1391: 354,
 4571: 355,
 4492: 356,
 2985: 357,
 380: 358,
 527: 359,
 588: 360,
 736: 361,
 2762: 362,
 41569: 363,
 72641: 364,
 48774: 365,
 48516: 366,
 71282: 367,
 64614: 368,
 34542: 369,
 65514: 370,
 48738: 371,
 6291: 372,
 46578: 373,
 7153: 374,
 4226: 375,
 8961: 376,
 1396: 377,
 471: 378,
 1042: 379,
 1947: 380,
 1269: 381,
 2394: 382,
 17: 383,
 3751: 384,
 3471: 385,
 2193: 386,
 1682: 387,
 1204: 388,
 1148: 389,
 8376: 390,
 27706: 391,
 5620: 392,
 3397: 393,
 3396: 394,
 2966: 395,
 2414: 396,
 1010: 397,
 954: 398,
 951: 399,
 45431: 400,
 7161: 401,
 6753: 402,
 6550: 403,
 3723: 404,
 26084: 405,
 7075: 406,
 5667: 407,
 2094: 408,
 2078: 409,
 1262: 410,
 1207: 411,
 927: 412,
 277: 413,
 8984: 414,
 8970: 415,
 6936: 416,
 4499: 417,
 3512: 418,
 2687: 419,
 2125: 420,
 2087: 421,
 1013: 422,
 44022: 423,
 8695: 424,
 8633: 425,
 7263: 426,
 5747: 427,
 6424: 428,
 40339: 429,
 5957: 430,
 51471: 431,
 44709: 432,
 1610: 433,
 5380: 434,
 5218: 435,
 8360: 436,
 26133: 437,
 745: 438,
 25752: 439,
 497: 440,
 2501: 441,
 37739: 442,
 6776: 443,
 529: 444,
 2324: 445,
 457: 446,
 534: 447,
 1243: 448,
 1957: 449,
 1246: 450,
 6358: 451,
 3916: 452,
 728: 453,
 2083: 454,
 1177: 455,
 46976: 456,
 50160: 457,
 3360: 458,
 838: 459,
 36525: 460,
 5267: 461,
 6533: 462,
 45517: 463,
 26294: 464,
 48982: 465,
 314: 466,
 6297: 467,
 2150: 468,
 898: 469,
 8039: 470,
 3088: 471,
 3097: 472,
 5470: 473,
 899: 474,
 911: 475,
 8574: 476,
 38038: 477,
 56915: 478,
 955: 479,
 953: 480,
 1023: 481,
 7395: 482,
 8580: 483,
 4886: 484,
 40629: 485,
 1022: 486,
 4921: 487,
 6662: 488,
 3548: 489,
 1689: 490,
 4027: 491,
 60487: 492,
 5066: 493,
 8529: 494,
 2797: 495,
 4022: 496,
 5303: 497,
 45668: 498,
 339: 499,
 2059: 500,
 3675: 501,
 5629: 502,
 2010: 503,
 1265: 504,
 3809: 505,
 62: 506,
 924: 507,
 440: 508,
 2115: 509,
 594: 510,
 368: 511,
 7: 512,
 552: 513,
 3175: 514,
 2804: 515,
 1282: 516,
 252: 517,
 2161: 518,
 1271: 519,
 468: 520,
 1952: 521,
 1283: 522,
 3507: 523,
 4280: 524,
 51084: 525,
 42197: 526,
 52375: 527,
 44555: 528,
 31410: 529,
 43376: 530,
 8645: 531,
 27803: 532,
 7767: 533,
 44204: 534,
 7323: 535,
 44694: 536,
 5878: 537,
 5608: 538,
 5477: 539,
 41527: 540,
 5613: 541,
 30749: 542,
 55052: 543,
 1305: 544,
 1211: 545,
 1209: 546,
 7034: 547,
 4967: 548,
 1252: 549,
 1247: 550,
 7234: 551,
 1201: 552,
 1206: 553,
 45950: 554,
 56788: 555,
 55820: 556,
 6197: 557,
 3426: 558,
 61075: 559,
 2289: 560,
 59118: 561,
 7456: 562,
 1641: 563,
 6942: 564,
 57792: 565,
 1230: 566,
 3812: 567,
 3967: 568,
 2997: 569,
 6711: 570,
 1221: 571,
 858: 572,
 64701: 573,
 51174: 574,
 59018: 575,
 4428: 576,
 69122: 577,
 1784: 578,
 8254: 579,
 63062: 580,
 186: 581,
 60482: 582,
 71033: 583,
 261: 584,
 22: 585,
 3255: 586,
 372: 587,
 1093: 588,
 428: 589,
 175: 590,
 2141: 591,
 4979: 592,
 60293: 593,
 54503: 594,
 3686: 595,
 8910: 596,
 1126: 597,
 1704: 598,
 3949: 599,
 63082: 600,
 778: 601,
 590: 602,
 50: 603,
 1193: 604,
 141: 605,
 21: 606,
 2683: 607,
 288: 608,
 3996: 609,
 111: 610,
 1089: 611,
 223: 612,
 919: 613,
 1517: 614,
 2987: 615,
 1307: 616,
 1968: 617,
 1258: 618,
 2918: 619,
 1101: 620,
 2174: 621,
 1080: 622,
 1079: 623,
 2502: 624,
 3147: 625,
 337: 626,
 1732: 627,
 2692: 628,
 52319: 629,
 76093: 630,
 87232: 631,
 89745: 632,
 112852: 633,
 91500: 634,
 98809: 635,
 79091: 636,
 86332: 637,
 73321: 638,
 82461: 639,
 81564: 640,
 79695: 641,
 78469: 642,
 86880: 643,
 84944: 644,
 78105: 645,
 3671: 646,
 47610: 647,
 73017: 648,
 4016: 649,
 7373: 650,
 59369: 651,
 5254: 652,
 4343: 653,
 91529: 654,
 54259: 655,
 6754: 656,
 77561: 657,
 88125: 658,
 4232: 659,
 81834: 660,
 33615: 661,
 60074: 662,
 5574: 663,
 5785: 664,
 5110: 665,
 70286: 666,
 40815: 667,
 72998: 668,
 54997: 669,
 59784: 670,
 69844: 671,
 4700: 672,
 46972: 673,
 6156: 674,
 88744: 675,
 4386: 676,
 118696: 677,
 6218: 678,
 8985: 679,
 3483: 680,
 47200: 681,
 42738: 682,
 56171: 683,
 102125: 684,
 106487: 685,
 51077: 686,
 49274: 687,
 7324: 688,
 59501: 689,
 106489: 690,
 36519: 691,
 57528: 692,
 5504: 693,
 49649: 694,
 48322: 695,
 4990: 696,
 6889: 697,
 5804: 698,
 76175: 699,
 34332: 700,
 8808: 701,
 50798: 702,
 87222: 703,
 65682: 704,
 61160: 705,
 83613: 706,
 87430: 707,
 68205: 708,
 85510: 709,
 5389: 710,
 6566: 711,
 6385: 712,
 82459: 713,
 37386: 714,
 53121: 715,
 88140: 716,
 53464: 717,
 58025: 718,
 56775: 719,
 7317: 720,
 5621: 721,
 1223: 722,
 1019: 723,
 107: 724,
 60: 725,
 2300: 726,
 2231: 727,
 5902: 728,
 2023: 729,
 7438: 730,
 27773: 731,
 3556: 732,
 40819: 733,
 47: 734,
 1617: 735,
 6003: 736,
 4954: 737,
 4011: 738,
 2360: 739,
 2542: 740,
 44665: 741,
 2329: 742,
 293: 743,
 30820: 744,
 41863: 745,
 55995: 746,
 55069: 747,
 55269: 748,
 55247: 749,
 27005: 750,
 1222: 751,
 56367: 752,
 55442: 753,
 56782: 754,
 54190: 755,
 6773: 756,
 48082: 757,
 8983: 758,
 54286: 759,
 32587: 760,
 7090: 761,
 27592: 762,
 38061: 763,
 49272: 764,
 36529: 765,
 5418: 766,
 8798: 767,
 53519: 768,
 7143: 769,
 8665: 770,
 53972: 771,
 6618: 772,
 7235: 773,
 54736: 774,
 49651: 775,
 8968: 776,
 31696: 777,
 39435: 778,
 47044: 779,
 55232: 780,
 6595: 781,
 49530: 782,
 30810: 783,
 27801: 784,
 50005: 785,
 33903: 786,
 40870: 787,
 55280: 788,
 34437: 789,
 4381: 790,
 5577: 791,
 52975: 792,
 36537: 793,
 37729: 794,
 54272: 795,
 4014: 796,
 3535: 797,
 53322: 798,
 5991: 799,
 33004: 800,
 56587: 801,
 27797: 802,
 5014: 803,
 3082: 804,
 1962: 805,
 2881: 806,
 2359: 807,
 830: 808,
 1680: 809,
 5013: 810,
 28: 811,
 232: 812,
 1278: 813,
 62293: 814,
 3079: 815,
 8943: 816,
 4246: 817,
 7155: 818,
 613: 819,
 4308: 820,
 1923: 821,
 2145: 822,
 1635: 823,
 1354: 824,
 6104: 825,
 27266: 826,
 910: 827,
 3148: 828,
 308: 829,
 2976: 830,
 7365: 831,
 1884: 832,
 48043: 833,
 1279: 834,
 8638: 835,
 7147: 836,
 27721: 837,
 30707: 838,
 2843: 839,
 1259: 840,
 539: 841,
 357: 842,
 912: 843,
 1208: 844,
 2019: 845,
 1183: 846,
 923: 847,
 34: 848,
 36: 849,
 6: 850,
 300: 851,
 11: 852,
 1393: 853,
 1213: 854,
 474: 855,
 508: 856,
 509: 857,
 750: 858,
 266: 859,
 235: 860,
 317: 861,
 2791: 862,
 553: 863,
 832: 864,
 1485: 865,
 1394: 866,
 2000: 867,
 2640: 868,
 555: 869,
 1288: 870,
 151: 871,
 2406: 872,
 3408: 873,
 1358: 874,
 5060: 875,
 1094: 876,
 265: 877,
 1639: 878,
 2302: 879,
 802: 880,
 1234: 881,
 1608: 882,
 1625: 883,
 1266: 884,
 342: 885,
 805: 886,
 2321: 887,
 1250: 888,
 246: 889,
 852: 890,
 1408: 891,
 1199: 892,
 1242: 893,
 1302: 894,
 3253: 895,
 1909: 896,
 45: 897,
 785: 898,
 2470: 899,
 1276: 900,
 1084: 901,
 969: 902,
 1285: 903,
 1275: 904,
 661: 905,
 2770: 906,
 1747: 907,
 2407: 908,
 1088: 909,
 348: 910,
 224: 911,
 1263: 912,
 1729: 913,
 3072: 914,
 800: 915,
 2248: 916,
 1172: 917,
 2278: 918,
 1357: 919,
 1203: 920,
 1228: 921,
 1231: 922,
 3006: 923,
 247: 924,
 2968: 925,
 3256: 926,
 431: 927,
 2108: 928,
 1479: 929,
 2021: 930,
 1272: 931,
 2746: 932,
 4370: 933,
 455: 934,
 1299: 935,
 2020: 936,
 1244: 937,
 3552: 938,
 3108: 939,
 2076: 940,
 1921: 941,
 2352: 942,
 2908: 943,
 5010: 944,
 194: 945,
 4720: 946,
 3361: 947,
 2243: 948,
 1296: 949,
 3107: 950,
 162: 951,
 2420: 952,
 1960: 953,
 3386: 954,
 2944: 955,
 1292: 956,
 3317: 957,
 1965: 958,
 4447: 959,
 994: 960,
 5679: 961,
 1586: 962,
 5464: 963,
 4848: 964,
 3252: 965,
 2369: 966,
 1095: 967,
 1175: 968,
 1104: 969,
 4002: 970,
 1020: 971,
 1449: 972,
 4262: 973,
 361: 974,
 382: 975,
 3105: 976,
 2686: 977,
 1441: 978,
 4975: 979,
 2616: 980,
 3424: 981,
 1958: 982,
 4223: 983,
 3100: 984,
 2739: 985,
 5481: 986,
 1945: 987,
 1124: 988,
 1711: 989,
 6807: 990,
 5388: 991,
 1959: 992,
 2245: 993,
 1678: 994,
 2384: 995,
 2116: 996,
 1956: 997,
 4734: 998,
 6870: 999,
 ...}

In [9]:
# ##훈련 데이터에 해당하는 아이템들
# #Train에는 전체 데이터를 사용합니다.
# train_plays = raw_data.loc[raw_data['user'].isin(tr_users)]
# train_plays  = train_plays.loc[train_plays['item'].isin(unique_sid)]
# train_plays_tr, train_plays_te = split_train_test_proportion(train_plays)


# #Validation과 Test에는 input으로 사용될 tr 데이터와 정답을 확인하기 위한 te 데이터로 분리되었습니다.
# vad_plays = raw_data.loc[raw_data['user'].isin(vd_users)]
# vad_plays = vad_plays.loc[vad_plays['item'].isin(unique_sid)]
# vad_plays_tr, vad_plays_te = split_train_test_proportion(vad_plays)

# test_plays = raw_data.loc[raw_data['user'].isin(te_users)]
# test_plays = test_plays.loc[test_plays['item'].isin(unique_sid)]
# test_plays_tr, test_plays_te = split_train_test_proportion(test_plays)



# train_data_tr = numerize(train_plays_tr, profile2id, show2id)
# train_data_tr.to_csv(os.path.join(pro_dir, 'train_tr.csv'), index=False)

# train_data_te = numerize(train_plays_te, profile2id, show2id)
# train_data_te.to_csv(os.path.join(pro_dir, 'train_te.csv'), index=False)

# vad_data_tr = numerize(vad_plays_tr, profile2id, show2id)
# vad_data_tr.to_csv(os.path.join(pro_dir, 'validation_tr.csv'), index=False)

# vad_data_te = numerize(vad_plays_te, profile2id, show2id)
# vad_data_te.to_csv(os.path.join(pro_dir, 'validation_te.csv'), index=False)

# test_data_tr = numerize(test_plays_tr, profile2id, show2id)
# test_data_tr.to_csv(os.path.join(pro_dir, 'test_tr.csv'), index=False)

# test_data_te = numerize(test_plays_te, profile2id, show2id)
# test_data_te.to_csv(os.path.join(pro_dir, 'test_te.csv'), index=False)

print("Done!")

Done!

In [10]:
class DataLoader():
    '''
    Load Movielens dataset
    '''
    def __init__(self, path):
        
        self.pro_dir = os.path.join(path, 'pro_sg')
        assert os.path.exists(self.pro_dir), "Preprocessed files do not exist. Run data.py"

        self.n_items = self.load_n_items()
    
    def load_data(self, datatype='train'):
        if datatype == 'train':
            return self._load_tr_te_data(datatype)
        elif datatype == 'validation':
            return self._load_tr_te_data(datatype)
        elif datatype == 'test':
            return self._load_tr_te_data(datatype)
        else:
            raise ValueError("datatype should be in [train, validation, test]")
        
    def load_n_items(self):
        unique_sid = list()
        with open(os.path.join(self.pro_dir, 'unique_sid.txt'), 'r') as f:
            for line in f:
                unique_sid.append(line.strip())
        n_items = len(unique_sid)
        return n_items
    
    def _load_train_data(self):
        path = os.path.join(self.pro_dir, 'train.csv')
        
        tp = pd.read_csv(path)
        n_users = tp['uid'].max() + 1

        rows, cols = tp['uid'], tp['sid']
        data = sparse.csr_matrix((np.ones_like(rows),
                                 (rows, cols)), dtype='float64',
                                 shape=(n_users, self.n_items))

    
        return data
    
    def _load_tr_te_data(self, datatype='test'):
        tr_path = os.path.join(self.pro_dir, '{}_tr.csv'.format(datatype))
        te_path = os.path.join(self.pro_dir, '{}_te.csv'.format(datatype))

        tp_tr = pd.read_csv(tr_path)
        tp_te = pd.read_csv(te_path)

        start_idx = min(tp_tr['uid'].min(), tp_te['uid'].min())
        end_idx = max(tp_tr['uid'].max(), tp_te['uid'].max())

        rows_tr, cols_tr = tp_tr['uid'] - start_idx, tp_tr['sid']
        rows_te, cols_te = tp_te['uid'] - start_idx, tp_te['sid']

        data_tr = sparse.csr_matrix((np.ones_like(rows_tr),
                                    (rows_tr, cols_tr)), dtype='float64', shape=(end_idx - start_idx + 1, self.n_items))
        data_te = sparse.csr_matrix((np.ones_like(rows_te),
                                    (rows_te, cols_te)), dtype='float64', shape=(end_idx - start_idx + 1, self.n_items))

        return data_tr, data_te

In [11]:
def Recall_at_k_batch(X_pred, heldout_batch, k=100):    
    batch_users = X_pred.shape[0]

    idx = bn.argpartition(-X_pred, k, axis=1)
    X_pred_binary = np.zeros_like(X_pred, dtype=bool)

    X_pred_binary[np.arange(batch_users)[:, np.newaxis], idx[:, :k]] = True

    X_true_binary = (heldout_batch > 0).toarray()
    tmp = (np.logical_and(X_true_binary, X_pred_binary).sum(axis=1)).astype(
        np.float32)
    recall = tmp / np.minimum(k, X_true_binary.sum(axis=1))
    return recall

## 2. ALS 기반 MF 모델 실습

In [12]:
loader = DataLoader(DATA_DIR)

n_items = loader.load_n_items()
train_data_tr, train_data_te = loader.load_data('train')
# vad_data_tr, vad_data_te = loader.load_data('validation')
# test_data_tr, test_data_te = loader.load_data('test')

In [13]:
train_data_tr

<31360x6807 sparse matrix of type '<class 'numpy.float64'>'
	with 4136075 stored elements in Compressed Sparse Row format>

In [201]:
def numerize_for_infer(tp, profile2id, show2id):
    uid = tp['user'].apply(lambda x: profile2id[x])
    sid = tp['item'].apply(lambda x: show2id[x])
    return pd.DataFrame(data={'uid': uid, 'sid': sid}, columns=['uid', 'sid'])

### 데이터 준비    
infer_df = numerize_for_infer(raw_data, profile2id, show2id)

loader = DataLoader(DATA_DIR)
n_items = loader.load_n_items()

n_users = infer_df['uid'].max() + 1

rows, cols = infer_df['uid'], infer_df['sid']
data = sparse.csr_matrix((np.ones_like(rows),
                                 (rows, cols)), dtype='float64',
                                 shape=(n_users, n_items))

N = data.shape[0]
idxlist = list(range(N))

In [202]:
infer_df

           uid   sid
0        11825     0
1        11825     1
2        11825     2
3        11825     3
4        11825     4
...        ...   ...
5154466  10783   423
5154467  10783  1491
5154468  10783   331
5154469  10783   733
5154470  10783  2256

[5154471 rows x 2 columns]

In [157]:
als_model = ALS(factors=7, regularization=0.01, iterations = 50, random_state=seed)
als_model.fit(train_data_tr)
x_pred= np.dot(als_model.user_factors.to_numpy(), als_model.item_factors.to_numpy().T) 
print(np.mean(Recall_at_k_batch(x_pred, train_data_te, k=10)))

  0%|          | 0/50 [00:00<?, ?it/s]

0.12914034661483642

In [ ]:
als_model = ALS(factors=7, regularization=0.01, iterations = 50, random_state=seed)
als_model.fit(vad_data_tr)
x_pred= np.dot(als_model.user_factors.to_numpy(), als_model.item_factors.to_numpy().T) 
print(np.mean(Recall_at_k_batch(x_pred, vad_data_te, k=10)))

In [ ]:
als_model = ALS(factors=7, regularization=0.01, iterations = 50, random_state=seed)
als_model.fit(test_data_tr)
x_pred= np.dot(als_model.user_factors.to_numpy(), als_model.item_factors.to_numpy().T) 
print(np.mean(Recall_at_k_batch(x_pred, test_data_te, k=10)))

### 2.1.1 most popular 가중치 적용해보기

In [18]:
temp= als_model.item_factors.to_numpy()
temp.shape

(6807, 7)

In [19]:
popular=np.array([infer_df.groupby('sid')['uid'].count()/10])
popular=popular.T

In [ ]:
popular= np.tile(popular, [1, 7])

In [ ]:
pop_item= popular * temp
x_pred= np.dot(als_model.user_factors.to_numpy(), pop_item.T) 
print(np.mean(Recall_at_k_batch(x_pred, test_data_te, k=10)))

 -> 단순히 인기도를 곱하는 것만으론 좋은 성능이 나오지 않는다.

### 2.1.2. item 워드임베딩 적용해보기
워드 임베딩을 als latent factor 초기 값으로 사용

In [ ]:
# sasrec= torch.load("./code/output/sas_wandb-Ml.pt")

In [ ]:
# temp_emb= sasrec['item_embeddings.weight']
# temp_emb.size()

In [185]:
pretrain= torch.load("./code/output/Pretrain.pt")
temp_emb=pretrain['item_embeddings.weight']

del pretrain

In [186]:
# 영화 ID를 기준으로 임베딩이 설정되어있기 때문에 6807로 수정할 필요가 있다. 
# 0은 패딩인덱스, 맨 뒤에는 마스크이므로 뺀다.

item_emb= temp_emb[1:-1,:]
item_emb.shape

del temp_emb

In [187]:
item_df= pd.DataFrame(item_emb.cpu())
item_df.index = item_df.index+1
item_df.reset_index(inplace=True)

del item_emb

In [188]:
def match_idx(x):
    try:
        return show2id[x]
    except KeyError:
        return -1000

In [189]:
item_df['index']= item_df['index'].apply(lambda x: match_idx(x))

In [190]:
item_df= item_df[item_df['index']!=-1000]
item_df.sort_values('index', inplace=True)

In [191]:
item_df=item_df.loc[:,0:] 
item_np= np.asarray(item_df)

del item_df

In [192]:

pca =  PCA(n_components = 7, random_state=seed)
item_np = item_np - np.mean(item_np)
item_fit = pca.fit_transform(item_np)

del item_np

In [242]:
als_model = ALS(factors=7, regularization=0.01, iterations = 50, random_state=seed, item_emb= item_fit/100)
als_model.fit(train_data_tr)
x_pred= np.dot(als_model.user_factors.to_numpy(), als_model.item_factors.to_numpy().T) 
print(np.mean(Recall_at_k_batch(x_pred, train_data_te, k=10)))

  0%|          | 0/50 [00:00<?, ?it/s]

0.1291371578393262

In [ ]:
als_model = ALS(factors=7, regularization=0.01, iterations = 50, random_state=seed,item_emb= item_fit/100)
als_model.fit(vad_data_tr)
x_pred= np.dot(als_model.user_factors.to_numpy(), als_model.item_factors.to_numpy().T) 
print(np.mean(Recall_at_k_batch(x_pred, vad_data_te, k=10)))

In [ ]:
als_model = ALS(factors=7, regularization=0.01, iterations = 50, random_state=seed,item_emb= item_fit/100)
als_model.fit(test_data_tr)
x_pred= np.dot(als_model.user_factors.to_numpy(), als_model.item_factors.to_numpy().T) 
print(np.mean(Recall_at_k_batch(x_pred, test_data_te, k=10)))

-> 0.0001성능향상이 있었습니다.

### 2.1.3 장르 선호도 반영하기

In [ ]:
lst= np.load("./data/train/lst.npy")

In [281]:
print(np.mean(Recall_at_k_batch(x_pred+lst/100, train_data_te, k=10)))

0.12941232891966312

-> 0.0004 성능향상이 있었습니다.

# 3. Submission

In [203]:
check= infer_df.copy()
check['exist']= 1
check= check.pivot_table('exist','uid','sid')
check.fillna(0, inplace=True)
check

sid,0,1,2,3,4,5,6,7,8,9,...,6797,6798,6799,6800,6801,6802,6803,6804,6805,6806
uid,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31357,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31358,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [226]:
als_model = ALS(factors=7, regularization=0.01, iterations = 50, item_emb= item_fit/100, random_state=seed)
als_model.fit(data)
emb_item= als_model.item_factors.to_numpy()
x_pred= np.dot(als_model.user_factors.to_numpy(), als_model.item_factors.to_numpy().T)

  0%|          | 0/50 [00:00<?, ?it/s]

In [227]:
x_pred= x_pred+lst/100

In [228]:
check[0][1000:2000]

uid
1000    0.0
1001    0.0
1002    0.0
1003    0.0
1004    1.0
       ...
1995    0.0
1996    1.0
1997    0.0
1998    0.0
1999    0.0
Name: 0, Length: 1000, dtype: float64

In [229]:
df= pd.DataFrame(x_pred)
df[0][1000:2000]

1000    0.056746
1001    0.033926
1002    0.034190
1003    0.066428
1004    0.192595
          ...
1995    0.031946
1996    0.083240
1997    0.051998
1998    0.029184
1999    0.040975
Name: 0, Length: 1000, dtype: float32

In [230]:
x_pred[data.toarray() > 0] = -np.inf

In [231]:
idx= np.argsort(-x_pred)[:,:10]

In [232]:
idx

array([[ 604,  359,  844, ...,  265,  507,  202],
       [ 159,  160,   40, ...,   78,  144,  162],
       [ 264,  742,   80, ...,  601,  598,  760],
       ...,
       [  80,  264,   78, ...,  601,  730,  341],
       [  46,  312,  341, ..., 2697,  840,  299],
       [ 209,  297,  374, ...,  202,  218,  373]])

In [235]:
### sample_submission 형태로 바꾸고 id 다시 바꾸기
user = []
item = []
for i_idx, arr_10 in enumerate(idx):
    user.extend([i_idx]*10)
    item.extend(arr_10)

u = pd.DataFrame(user, columns=['user'])
i = pd.DataFrame(item, columns=['item'])
all = pd.concat([u, i], axis=1)

In [236]:
all

         user  item
0           0   604
1           0   359
2           0   844
3           0   858
4           0   751
...       ...   ...
313595  31359   211
313596  31359   203
313597  31359   202
313598  31359   218
313599  31359   373

[313600 rows x 2 columns]

In [237]:
def de_numerize(tp, re_p2id, re_s2id):
    uid = tp['user'].apply(lambda x: re_p2id[x])
    sid = tp['item'].apply(lambda x: re_s2id[x])
    return pd.DataFrame(data={'uid': uid, 'sid': sid}, columns=['uid', 'sid'])

ans = de_numerize(all, re_p2id, re_s2id)
ans.columns = ['user', 'item']
new_ans = ans.sort_values('user')
new_ans.reset_index(drop=True, inplace=True)

In [238]:
new_ans

          user   item
0           11  40815
1           11   4886
2           11   8961
3           11  32587
4           11   4963
...        ...    ...
313595  138493   8368
313596  138493  33794
313597  138493   8874
313598  138493   8961
313599  138493   4878

[313600 rows x 2 columns]

In [239]:
new_ans.to_csv("/opt/ml/input/code/output/answer/als_genre.csv", index=False)

# 4. Model output 비교

In [252]:
als_genre= pd.read_csv("/opt/ml/input/code/output/answer/als_genre.csv")
als=  pd.read_csv("/opt/ml/input/code/output/answer/als.csv")

In [273]:
als_genre[als_genre['user']==138493]

          user   item
313590  138493   1270
313591  138493   5349
313592  138493   1197
313593  138493   2762
313594  138493    551
313595  138493   8368
313596  138493  33794
313597  138493   8874
313598  138493   8961
313599  138493   4878

In [275]:
als[als['user']==138493]

          user   item
313590  138493   1270
313591  138493   5349
313592  138493   1197
313593  138493    551
313594  138493   8368
313595  138493   2762
313596  138493  33794
313597  138493   8874
313598  138493   8961
313599  138493   4878

In [255]:
als_genre['user'].unique()

array([    11,     14,     18, ..., 138486, 138492, 138493])

In [260]:
df=pd.DataFrame(data={'user': als_genre['user'].unique()})

In [253]:
als_genre.drop_duplicates('user', keep='first')

          user   item
0           11  40815
1           11   4886
2           11   8961
3           11  32587
4           11   4963
...        ...    ...
313595  138493   8368
313596  138493  33794
313597  138493   8874
313598  138493   8961
313599  138493   4878

[313600 rows x 2 columns]

### 기존 일부 유저-아이템 rating 매트릭스

![user_item_small_preference.PNG]()

### 예측된 유저-아이템 preference 매트릭스

- 아래와 동일한 결과가 나와야 함

![ALS_expected_user_item_small_preference.PNG]()